# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify frontend-team about changes
*.ts            @gonzazoid
*.tsx           @gonzazoid
*.js            @gonzazoid
*.json          @gonzazoid

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
*.md            @drew2a
vocabulary/     @drew2a

# notify devops team about changes in settings.json
settings.json   @drew2a
