fieldset {
    border: 1px solid #dee2e6!important;
    padding: 0px 10px 10px 10px;
}

fieldset legend {
    width:auto;
    padding: 0px 10px;
}

.acExchange label {
    margin: 5px 10px 0px 10px;
}

.acExchange>label:first-child {
    width:130px;
}
.acExchange label:nth-child(3) {
    width:210px;
}

.acExchange input {
    width:100px;
}
.acExchange button {
    margin-left:10px;
}

.searchInputGroup .input-group-prepend{
    position: absolute;
    z-index: 100;
    top: 1px;
    left: 1px;
}
.searchInputGroup .input-group-prepend .input-group-text{
    border: none;
    background: #fff;
    padding: 8px 12px 9px;
}
.searchInputGroup .form-control:not(:first-child){
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 40px;
}

.cardHoverBgWarning,
.cardHoverBgDanger{
    transition: background-color 0.2s linear, color 0.2s linear;
}
.cardHoverBgWarning:hover{
    background: #ffbd4a;
    color: #fff;
}
.cardHoverBgDanger:hover{
    background: #f05050;
    color: #fff;
}

.topPanel{
    margin-right: 30px;
}
.topPanel li{
    line-height: 70px;
    color: rgba(255, 255, 255, 0.8);
}
