.vpnListCountryFilterBl .checkbox{
    margin-left: 16px;
}
.vpnListCountryFilterBl .checkbox input{
    width: 0 !important;
}
.searchInputGroupVPNList .input-group-prepend .input-group-text{
    border: none;
    background: #fff;
    padding: 8px 10px 9px;
}
.searchInputGroupVPNList .form-control:not(:first-child){
    padding: 8px 5px 8px 36px;
    font-size: 12px;
}

@media only screen and (max-width: 1750px) {
    .priceMinMaxInputBl {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .priceMinMaxInputBl .input-group-text{
        padding: 6px 0px;
        width: 50px;
        align-content: center;
        display: inline-block;
    }
}